In [ ]:
"""
Скрипт для поиска значений где нули
"""

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('data/Данные.xlsx',dtype=str)

In [4]:
df['Статус_Учёба'].value_counts()

Обучается                            47
Академический отпуск(служба в РА)     1
Академический отпуск(декрет)          1
Академический отпуск(по болезни)      1
Name: Статус_Учёба, dtype: int64

In [8]:
df['Статус_Учёба'].value_counts().to_frame().sort_index()

                                   Статус_Учёба
Академический отпуск(декрет)                  1
Академический отпуск(по болезни)              1
Академический отпуск(служба в РА)             1
Обучается                                    47

In [9]:
df['Статус_Учёба'].value_counts().to_frame().sort_index().transpose()

,Академический отпуск(декрет),Академический отпуск(по болезни),Академический отпуск(служба в РА),Обучается
Статус_Учёба,1,1,1,47

In [17]:
pd.pivot_table(df,
              index='Файл',
              columns='Статус_Учёба',
              values='ФИО',
              aggfunc='count',
              fill_value=0,
              margins=True,
              margins_name='Итого').reset_index()

Статус_Учёба,Файл,Академический отпуск(декрет),Академический отпуск(по болезни),Академический отпуск(служба в РА),Обучается,Итого
0,БР 21,1,1,1,22,25
1,ТГ 523,0,0,0,25,25
2,Итого,1,1,1,47,50